@{
    ViewBag.Title = "About";
}
<h2>ABOUT</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>Comm-Balance is a project initiated by the The Brainiacs Non Profit Organisation (NPO) with the aim of assisting people in need of food and basic household groceries;
   especially people who were and/or are severely affected by the current global pandemic,
   Covid-19. This Project helps needy individuals directly and via small scaled community based food schemesby proding them with groceries. <br />The organisations receives donations from sponsors and donors and then get all the necessary goods inhouse and allow targeted individuals submit request for help and deliver to the as soon as they verify that state of needs. </p>
