@{
    ViewBag.Title = "Contact";
}
<h2>CONTACT US</h2>
<h3>You can always reach to us via the contact details below</h3>

<address>
	23 Ritson Road, Musgrave, Berea, South Africa
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">CommBalance@example.com</a>
</address>